<div class="container">
<!-- <form (ngSubmit)="onSubmit()" #transactionsUploadForm="ngForm"> -->
    <label for="upload-transactions-input">Choose File</label>
    <input type="file"
           id="upload-transactions-input"
           (change)="selectFile($event)"
    />
    <button (click)="upload()">Upload</button>
    <ol>
        <li *ngFor="let msg of uploadMessages">{{msg}}</li>
    </ol>
    <!-- <button type="submit" [disabled]="!transactionsUploadForm.form.valid">Upload</button> -->
    <!-- <app-status></app-status> -->
<!-- </form> -->
</div>
