.alert-container {
  border-radius: 8px;
  padding: 16px;

  &.success {
    color: #3c763d;
    border-color: #d6e9c6;
    background-color: #dff0d8;
  }

  &.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  .type-name {
    font-weight: bold;
  }

  .details-header {
    margin: 12px 0 0 0;
  }

  .close-btn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
}
