<div class="container">
  <div class="drop-container" appDragAndDrop (fileDropped)="selectFile($event)">
    <img src="assets/icon_upload.svg" height="64px" alt=""/>
    <p>Drag and drop file here</p>
    <p>or</p>
    <label for="upload-transactions-input">Select from your computer</label>
    <input type="file"
           id="upload-transactions-input"
           (change)="selectFile($any($event).target?.files)"/>
  </div>
  <div *ngIf="fileToUpload" class="file-info-container">
    <img src="assets/icon_file.svg" height="55px" alt=""/>
    <div class="file-info">
      <span class="file-name">{{fileToUpload.name}}</span>
      <span class="file-size">Size: {{fileToUpload.size | bytes}}</span>
      <div [ngClass]="{'progress' : true, 'upload-success' : uploadStatus === 'success', 'upload-error' : uploadStatus === 'error'}" [style.width]="uploadProgress + '%'">
      </div>
    </div>
    <button (click)="upload()">Upload</button>
  </div>
  <app-alert *ngIf="uploadStatus" [type]="uploadStatus" [message]="uploadStatusMessage">
    <ul *ngIf="uploadFileLineErrors && uploadFileLineErrors.length > 0">
      <li *ngFor="let msg of uploadFileLineErrors">
        <span>Line number: {{msg.lineNumber}}</span>
        <ul>
          <li *ngFor="let i of msg.errors">{{i}}</li>
        </ul>
      </li>
    </ul>
  </app-alert>
</div>
