.container {
  display: flex;
  flex-direction: column;
}

.drop-container {
  border: dashed 3px #979797;
  border-radius: 8px;
  padding: 3rem;
  margin: 16px 8px;
  text-align: center;

  &.drag-over {
    background-color: lightyellow;
    border-color: black;
  }

  label {
    color: white;
    background-color: forestgreen;
    padding: 8px 16px;
    border-radius: 8px;
  }
}

.file-info-container {
  display: flex;
  flex-direction: row;
}

.file-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.progress {
  height: 7px;
  border-radius: 4px;
  background-color: lightgreen;
}
