<div class="container">
    <h3>Upload file with transactions</h3>
    <label for="upload-transactions-input">Choose File</label>
    <input type="file"
           id="upload-transactions-input"
           (change)="selectFile($event)" />
    <button (click)="upload()">Upload</button>
    <ul *ngIf="uploadMessages && uploadMessages.length > 0">
        <li *ngFor="let msg of uploadMessages">
            <span>{{msg.lineNumber}}</span>
            <ul>
                <li *ngFor="let i of msg.errors">{{i}}</li>
            </ul>
        </li>
    </ul>
</div>
