.container {
  display: flex;
  flex-direction: column;
}

.drop-container {
  border: dashed 3px #979797;
  border-radius: 8px;
  padding: 3rem;
  margin: 16px 0;
  text-align: center;

  &.drag-over {
    background-color: lightyellow;
    border-color: black;
  }

  label {
    color: white;
    background-color: forestgreen;
    padding: 8px 16px;
    border-radius: 8px;
  }
}

.file-info-container {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
}

.file-info {
  padding: 2px 12px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .file-name {
    font-weight: bold;
    margin-bottom: 2px;
  }

  .file-size {
    color: grey;
  }
}

.progress {
  margin: 2px 2px 2px 0;
  height: 7px;
  border-radius: 4px;
  background-color: lightblue;

  &.upload-success {
    background-color: lightgreen;
  }

  &.upload-error {
    background-color: #a94442;
  }
}
